<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>The website uses data from mapbox.com and weatherstack to display weather information</p>
            <img class="portrait" src="./img/Ansatsu Kyoushitsu 2362 x 1152.png">
        </div>
        
        {{>footer}}
    </body>
</html>